<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= movie.title %> </title>
    <link rel='stylesheet' href='/css/style.css' />

</head>
<body>
    <figure>
        <img src="/img/logo-DH.png" alt="Logo Digital House">
    </figure>

    <% if (movie.Response == "False") { %>
        <h1><%= movie.Error %> </h1>
    <% }else{ %>
        <h1><%= movie.Title %> </h1>    
        <br>
        <p>CALIFICACIÓN: <%= movie.Ratings[1].Value %> </p>
        <p>PREMIOS: <%= movie.Awards %> </p>
        <p>DURACIÓN: <%= movie.Runtime + ' min'%> </p>
        <p>FECHA DE CREACIÓN: <%= movie.Released %> </p>
    <% } %>
    <br>
    <section>
        <a class="botonVolver" href="/movies">Listado de Películas</a>
    </section>

</body>
</html>